header {
    display: flex;
    margin: 0;
    padding: 2rem;
    justify-content: space-between;
    background-color: #221F1F;
    height: 50px;
}

nav ul li {
    list-style-type: none;
    font-weight: 600;
    color: #fff;
}
nav ul {
    display: flex;
    gap: 2rem;
}