<app-small-header-banner imagePath="small-header-banners/soccer-ball-banner.png" heading="About NEA Soccer Club" />
<div class="page">
    <h2>Our Beginnings</h2>
  <p>
    NEA Soccer Academy was started in July of 2022 as a 501c3 not-for-profit
    training academy for kids of all ages. From its inception the academy
    trained over 400 kids, which led to the formation of several competitive
    teams and the strengthening of even more club level age groups. On November
    3, 2023. NEA Soccer Academy transitioned into NEA Soccer Club and was
    approved for certification by the Arkansas Soccer Association on November
    13, 2023. Our first action as a club was to start the NEA Soccer Club
    Scholarship Fund to provide the opportunity for any player who has the
    skills to make a team&nbsp;through&nbsp;tryouts&nbsp;to&nbsp;play.
  </p>

  <h2>Our Mission</h2>
  <p>
    NEA Soccer Club is dedicated to building skills, inspiring passion, and
    training champions. We have two pathways and 4 seasons of play and training
    that help us achieve that; pre-competitive pathway and competitive pathway.
    We begin training players at younger ages to prepare them for competitive
    soccer when they reach U8. Our pre-competitive pathway will be open to all
    U7 and below age groups and will be available all 12 months of the year. Our
    competitive pathway runs&nbsp;from&nbsp;U8&nbsp;to&nbsp;U19.
  </p>

  <h2>Soccer All The Time</h2>
  <p>
    NEA Soccer Club is a year-round soccer club with Futsal and 3v3 programs
    offered in what would typically be considered the off-season. We also have a
    full sided (normal) soccer program offered in Fall and Spring season. Our
    goal is to provide high-quality, comprehensive training both indoors and
    outdoors, giving our players the opportunity to stay active and grow their
    knowledge and love&nbsp;of&nbsp;the&nbsp;game.
  </p>

  <h2>Our Future</h2>
  <p>
    Our long-term plan is to compete at the highest levels of state and club
    soccer, and that includes building a resume for eventual ECNL (Elite Clubs
    National League) membership, and a path for helping our players recognize
    their fullest potential. That could mean college scholarships, MLS Next,
    other future professional soccer opportunities, or maybe just being a
    starter on their Junior High and&nbsp;High&nbsp;School&nbsp;teams.
  </p>

  <h2>Your Player</h2>
  <p>
    We provide player improvement plans at least semi-annually to spotlight
    areas of individual improvement, use video of training and matches to look
    for ways to improve as a team, and involve the parents in their&nbsp;player’s
    &nbsp;soccer&nbsp;journey.
  </p>

  <p>
    NEA Soccer Club will put a focus on fun, hard work, and respect as we create
    a culture for our club. Respect for each other, our coaches, parents, and
    referees will be emphasized. We want to develop great young men and women,
    not just great players. So, we will focus on the two things every player can
    control, their attitude and effort. Above all, we have a love for the
    players and their families, even if it can sometimes&nbsp;be&nbsp;tough&nbsp;love.
  </p>
</div>
