header {
    display: flex;
    background-color: #221F1F;
    justify-content: center;
    position: relative;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
    position: relative;
}

.navLinks a {
    color: #fff;
    font-weight: 400;
    font-size: 25px;
    text-decoration: none;
}
.navLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 432px;
}

.navLinks a:hover {
    cursor: pointer;
    color: #bdbdbd
}

nav img {
    position: absolute;
    top: 9px;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    max-width: 175px;
}

.coachPortal {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

mat-icon {
    color: #fff;
    cursor: pointer;
    transform: scale(1.5);
    transition: transform 0.3s ease-in-out;
}

.menuButton {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
}
  
.rotate-icon {
    transform: rotate(180deg); /* Rotate the icon 180 degrees when open */
}
