<header>
    <nav>
            <div class="navlinks">
                <a routerLink="/home">Home</a>
                <a routerLink="/about">About</a>
                <a routerLink="/documents">Resources</a>
                <a routerLink="/calendar">Events</a>
            </div>
                
            <a routerLink="/home"><img src="NEASC_logo.png" width="175px"/></a>
            
            <div class="navlinks">
                <a href="https://runningthreads.net/pages/nea-soccer-club" target="_blank">Store</a>
                <a routerLink="/faq">FAQ</a>
                <a routerLink="/scholarships">Scholarships</a>
                <a routerLink="/coach-portal"><button mat-raised-button color="primary">Coach's Portal</button></a>
            </div>
    </nav>
</header>
