<header>
    <nav>
        <a routerLink="/home"><img src="NEASC_logo.png" width="100px"/></a>
            <div class="navlinks">
                <a routerLink="/home">Home</a>
                <a routerLink="/about">About</a>
                <a routerLink="/documents">Documents</a>
                <a routerLink="/calendar">Calendar</a>
                <a href="https://runningthreads.net/pages/nea-soccer-club" target="_blank">Store</a>
                <a routerLink="/faq">FAQ</a>
                <a routerLink="/scholarships">Scholarships</a>
            </div>
    </nav>
</header>
