header {
    display: flex;
    flex-direction: column;
    background-color: #221F1F;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 0 auto;
}

.navlinks a {
    margin: 0 1rem;
    color: #fff;
    font-weight: 400;
    font-size: 1.25em;
    text-decoration: none;
}
.navLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
}

.navLinks a:hover {
    cursor: pointer;
    color: #bdbdbd
}

nav img {
    margin-top: 40%;
    margin-left: 3rem;
    margin-right: 3rem;
}