footer {
    background-color: #221F1F;
    width: 100%;
    height: 100px;
    color: #FFF;
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: end;
    gap: 1rem;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.footerLinks {
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footerLinks a {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
}

.copyright {
    margin-bottom: 0;
    font-size: 12px;
}