.dialogWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 2rem
}

.eventDetails {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    padding: 0 3rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%;
    gap: 1rem;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
    margin: 0;
}

h1 {
    background-color: #CF2031;
    color: #fff;
    width: 100%;
    margin: 0;
    text-align: center;
    padding-block: 1rem;
    letter-spacing: 1px;
}

h2 {
    color: #CF2031;
    letter-spacing: 2px;
    margin: 0;
}

mat-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #e1e1e1;
    cursor: pointer;
    font-weight: bold;
    border-radius: 50%;
    transition: color .3s ease-in-out;
}

mat-icon:hover {
    color: #FFF
}
