<mat-card class="calendar-container">
  <div class="calendar-container">
    <div class="calendar-header">
      <mat-toolbar>
        <button mat-icon-button (click)="changeMonth(-1)"><mat-icon>arrow_back</mat-icon></button>
        <h2>{{ currentDate | date: 'MMMM yyyy' }}</h2>
        <button mat-icon-button (click)="changeMonth(1)"><mat-icon>arrow_forward</mat-icon></button>
      </mat-toolbar>
    </div>

    <!-- <div class="calendarWeekdays">
      @for (weekday of weekDays; track weekday) {
        <div class="calendarDay">
          <strong>{{ weekday }}</strong>
        </div>
      }
    </div> -->
    <div class="calendar-grid">

      @for (day of daysInMonth; track day; let i = $index) {
        <div class="calendar-day" >
          <span class="day-number">{{ day }}</span>
          @for (event of getEventsForDate(day); track trackByEvent) {
            <mat-card class="event-card" (click)="onOpenEvent(event)">
              <strong>{{ event.title }}</strong>
              @if(event.time) {
                <span>({{ event.time }})</span>
              }
            </mat-card>
          }
        </div>
      }
    </div>
  </div>
</mat-card>
