<app-small-header-banner
  imagePath="small-header-banners/kicking-ball-banner.png"
  heading="Frequently Asked Questions"
/>

<div class="faqContainer">
  <mat-accordion class="faq-accordion">
    @for (faq of faqs; track faq.question){
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ faq.question }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{ faq.answer }}</p>
    </mat-expansion-panel>
    }
  </mat-accordion>
</div>
