<h2>Add Event</h2>
<p>
    Fill out the form below to add an event to the club calendar.
</p>
<div class="page">
    
    <form [formGroup]="eventForm">
        <div class="row">
            <mat-form-field>
                <mat-label>Event Title</mat-label>
                <input matInput placeholder="Event Title" formControlName="title">
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Event Date</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="Date of Event" formControlName="date">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <mat-form-field>
            <mat-label>Event Description</mat-label>
            <textarea matInput placeholder="Event Description" formControlName="description"></textarea>
        </mat-form-field>

        <div class="row">
            <mat-form-field>
                <mat-label>Event Location</mat-label>
                <input matInput placeholder="Event Location" formControlName="location">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Event Time</mat-label>
                <input matInput placeholder="Event Time" formControlName="time">
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
    </form>
</div>
