.header-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 1.5em;
    line-height: 1em;
    color: #221F1F;
}
.header-bar>a>button {
    position: absolute;
    top: 5px;
    right: 3rem;
}